<!DOCTYPE html>
<html>
<head>
  <title>Dashboard | SLUH Hack Club</title>
  <% include ../partials/head.ejs %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Bulma Version 0.7.1-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/admin.css">
</head>

<body>
  <div style="flex: 1 0 auto;">
    <section class="hero is-info is-medium is-bold">
      <div class="hero-head">
        <nav class="navbar" style="margin-bottom:0;">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="../">
                <img src="/short.png" alt="Logo">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <div class="tabs is-right">
                  <ul style="border-bottom-style: none;">
                    <!-- <li class="is-active"><a>Dashboard</a></li> -->
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/dashboard/projects">Projects</a></li> -->
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/leaderboard">Leaderboard</a></li>
                  </ul>
                  <span class="navbar-item">
                    <a class="button is-white is-outlined" href="/logout">
                      <span class="icon">
                        <i class="fas fa-lock"></i>
                      </span>
                      <span title="Logout">Logout</span>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>
    <!-- END NAV -->
    <div class="container">
      <div style="margin-left:10px;margin-right:10px;margin-top:16px;">
        <section class="hero is-info welcome is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Hello, <%= firstName %> <%= lastName %>.
              </h1>
              <!-- <h2 class="subtitle">
                Dashboard
              </h2> -->
            </div>
          </div>
        </section>
        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
            <% if (currentProjectExists) { %>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><%= latestProjectName %></p>
                  <p class="subtitle">Current Project</p>
                </article>
              </div>
              <% if (latestProjectSubmitted === true) { %>
                <div class="tile is-parent">
                  <div class="tile is-child box notification is-success">
                    <p class="title">Project Submitted</p><p class="subtitle"></p>
                  </div>
                </div>
              <% } else { %>
                <div class="tile is-parent">
                  <div class="tile is-child box notification is-danger">
                    <p class="title">Not Submitted</p><p class="subtitle"></p>
                  </div>
                </div>
              <% } %>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><%= latestProjectDeadline %></p>
                  <p class="subtitle">Deadline</p>
                </article>
              </div>
            <% } else { %>
              <div class="tile is-parent"></div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title">No Current Project</p>
                </article>
              </div>
              <div class="tile is-parent"></div>
            <% } %>
          </div>
        </section>
      </div>
      <% if (currentProjectExists) { %>
        <% if (latestProjectSubmitted === false) { %>
          <div class="columns" style="margin:0;">
            <div class="column"></div>
            <div class="column">
              <!-- <a href="/dashboard/projects/<%= latestProjectId %>/submit"><button id="submit-button" class="button is-block is-info is-large is-fullwidth">Submit Project</button></a> -->
            </div>
            <div class="column"></div>
          </div>
        <% } %>
      <% } else { %>
        <div class="columns" style="margin:0;">
          <div class="column"></div>
          <div class="column">
            <a href="/dashboard/projects"><button id="submit-button" class="button is-block is-info is-large is-fullwidth">Previous Projects</button></a>
          </div>
          <div class="column"></div>
        </div>
      <% } %>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
  <script type="text/javascript">
<% include ../scripts/burger.ejs %>
  </script>
</body>

</html>
