<html><head>
    <title>Submission "<%= submissionTitle %>" | SLUH Hack Club</title>
    <% include ../partials/head.ejs %>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/main-hero.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    </head>
  <body>
    <div style="flex: 1 0 auto;">
    <section class="hero is-info is-medium is-bold">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="../">
                <img src="/short.png" alt="Logo">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>

            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <div class="tabs is-right">
                  <ul>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/admin/projects">Projects</a></li>
                    <li class="is-active"><a href="/admin/submissions">Submissions</a></li>
                  </ul>
                  <!-- <div class="navbar-item">
                    <div class="navbar-dropdown">
                      <a class="navbar-item">
                        <div>
                          <span class="icon is-small">
                            <i class="fas fa-user-circle-o"></i>
                          </span>
                          Profile
                        </div>
                      </a>
                      <a class="navbar-item">
                        <div>
                          <span class="icon is-small">
                            <i class="fas fa-bug"></i>
                            Creating the navigation bar
                            39
                          </span>
                          Report bug
                        </div>
                      </a>
                      <a class="navbar-item">
                        <div>
                          <span class="icon is-small">
                            <i class="fas fa-sign-out"></i>
                          </span>
                          Sign Out
                        </div>
                      </a>
                    </div>
                  </div> -->


                      <span class="navbar-item">
                        <a class="button is-white is-outlined" href="/logout">
                          <span class="icon">
                            <i class="fas fa-lock"></i>
                          </span>
                          <span title="Logout">Logout</span>
                        </a>
                      </span>


                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body" style="
    padding: 0px 0px 15px 0px;
">
        <div class="container has-text-centered">

          <h2 class="subtitle" style="
    font-size: 1.5rem;
">
          Project: &lt;Project Title&gt;
          </h2>
        </div>
      </div>
    </section>
    <div class="box cta has-text-centered">
      <p class="has-text-centered">
          <b class="title"><%= submissionTitle %></b><br></p>
<br><p class="subtitle"><%= submissionNotes %></p><div style="
    margin-top: 5px;
    margin-bottom: -5px;">
    <a href="<%= submissionURL %>"><%= submissionURL %></a></div><div style="margin-top: 10px;margin-bottom: -10px;">By: <%= submissionFirstName %> <%= submissionLastName %></div><!-- <br><span class="tag is-danger">Not Reviewed</span> -->
    <p></p>
    </div>
    <section id="bottom-text" class="container" style="
    /* margin-left:  10px; */
    /* margin-right:  10px; */
">

      <div class="field" style="
    /* max-width: 80%; */
">
  <label class="label">Reviewer Notes - This should&trade; automatically update with the backend</label>
  <div class="control">
    <textarea class="textarea"></textarea>
  </div>
</div><div id="bottom-button-div" class="field has-text-centered" style="margin-bottom:50px;">
  <a>
    <% if (submissionReviewed) { %>
      <span id="bottom-button-span" class="is-medium tag is-success"><i class="fas fa-check"></i>&nbsp;&nbsp;Submission Reviewed (click)</span>
    <% } else { %>
      <span id="bottom-button-span" class="is-medium tag is-danger"><i class="fas fa-times"></i>&nbsp;&nbsp;Submission Not Reviewed (click)</span>
    <% } %>
  </a></div>


    </section>
  </div>
    <% include ../partials/footer.ejs %>


<script type="text/javascript">

var submissionId = '<%= submissionId %>';

document.getElementById('bottom-button-span').onclick = function () {
  document.getElementById('bottom-button-span').classList.toggle('is-success');
  document.getElementById('bottom-button-span').classList.toggle('is-danger');
  if (document.getElementById('bottom-button-span').innerHTML === '<i class="fas fa-check"></i>&nbsp;&nbsp;Submission Reviewed (click)') {
    console.log('was green, now red');
    updateSubmissionStatus('notreviewed');
    document.getElementById('bottom-button-span').innerHTML = '<i class="fas fa-times"></i>&nbsp;&nbsp;Submission Not Reviewed (click)';
  } else {
    console.log('was red, now green');
    updateSubmissionStatus('reviewed');
    document.getElementById('bottom-button-span').innerHTML = '<i class="fas fa-check"></i>&nbsp;&nbsp;Submission Reviewed (click)';
  }
};

function updateSubmissionStatus(newStatus) {
  if (newStatus === 'reviewed' || newStatus === 'notreviewed') {
    if (newStatus === 'reviewed') {
      var reviewStatus = true;
    } else {
      var reviewStatus = false;
    }
    axios.patch('/api/v1/submission/' + submissionId, {
      reviewed: reviewStatus
    })
    .then(function (response) {
      console.log(response);
    })
    .catch(function (err) {
      console.error(err);
    });
  } else {
    console.error('Invalid parameter passed to updateSubmissionStatus()');
  }
}

<% include ../scripts/burger.ejs %>
</script>


</body></html>
